*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: black;
  opacity: .8;
}
.navbar{
  text-align: right;
  padding: 10px 30px;
  border-bottom-left-radius: 10px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
}
.navbar ul li a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
}
.navbar ul li a:hover{
  color: yellow;
}
.left-siderbar{
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}
.row{
  padding: 0 10%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-top: -1%;
  background-color: #000;
}
.lef-col{
  flex-basis: 40%;
}
.right-col{
  flex-basis: 55%;
}
.right-col{
  font-style: 60px;
  font-weight: 600;
} 
.right-col{
  color: gray;
  margin: 20px 0 70px;
}
#Projects{
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;

}
.heading{
  text-align:  center;
  font-size: 40px;
}
.Pictures{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
color: #fff;
}
.Pictures img{
  width: 200px;
  height: 400px;
  padding: 10px;
  margin: 10px;
}
.Pictures img:hover{
  background-color: #fff;
}
/*About me*/
#About{
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
  color: black;
}
#About h1{
  margin: 50px;
}
.columns{
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 50px;
}
.box{
  height: 200px;
  width: 500px;
  color: #fff;
  font-size: 20px;
  background-color: black;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  
}
.box h2{
  color: yellow;
  font-size: 2rem;
  margin-bottom: 40px;
}
.box p{
  color: #fff;
  font-size: 20px;
}
/*Contact section*/
#Contact{
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}
#Contact h1{
  margin: 50px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input{
  padding: 15px 20px;
  margin: 15px;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 25px;
}
#message{
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
}
#submit{
  padding: 15px 20px;
  margin: 30px;
  width: 15%;
  border-radius: 20px;
  background-color: darkslategrey;;
  color: whitesmoke;
  border: none;
  outline:none;
  font-size: larger;
  font-weight: bolder;
  
}
#submit:hover{
  background-color: lightblue;
  color: #fff;
  cursor: pointer;
}